In [ ]:
 # Q1. Create one variable containing following type of data:

# (i)	string

# (ii)	list

# (iii)	float

# (iv)	tuple

In [19]:
# (i)	string

In [20]:
var_string = ("Hello")

In [21]:
var_string

'Hello'

In [ ]:
# (ii)	list

In [28]:
var_list = [ 3,5,7,8,9]

In [24]:
var_list

[3, 5, 7, 8, 9]

In [ ]:
# (iii)	float

In [29]:
var_float = 5.8

In [30]:
var_float

5.8

In [ ]:
# (iv)	tuple

In [32]:
var_tuple = (19,38,57,76,95)

In [33]:
var_tuple

(19, 38, 57, 76, 95)

In [ ]:
#Q2. Given are some following variables containing data:

#(i)	var1 = ‘ ‘

#(ii)	var2 = ‘[ DS , ML , Python]’

#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

#(iv)	var4 = 1.

In [ ]:
#(i)	var1 = ‘ ‘

In [1]:
var1 = ''

In [2]:
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'

In [7]:
type(var2)

str

In [12]:
var3 = ['DS','ML','Python']

In [13]:
type(var3)

list

In [14]:
var4 = 1.

In [15]:
type(var4)

float

In [ ]:
#Q3. Explain the use of the following operators using an example:

#(i)	/

#(ii)	% 

#(iii)	//

#(iv)	**

In [ ]:
#(i)	/

In [16]:
result = 221/4

In [17]:
print(result)

55.25

In [ ]:
#(ii)	%

In [19]:
result1 = 221%4

In [20]:
print(result1)

1

In [ ]:
#(iii)	//

In [21]:
result3 = 221//4

In [22]:
print(result3)

55

In [ ]:
#(iv)	**

In [25]:
result4 = 1**4

In [26]:
print(result4)

1

In [ ]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the lement and its data type. 
e

In [1]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], (4, 5), {'key': 'value'}, None, "Python", False]

In [6]:
for element in my_list:
    print(f"{element} - {type(element)}")

10 - <class 'int'>
Hello - <class 'str'>
3.14 - <class 'float'>
True - <class 'bool'>
[1, 2, 3] - <class 'list'>
(4, 5) - <class 'tuple'>
{'key': 'value'} - <class 'dict'>
None - <class 'NoneType'>
Python - <class 'str'>
False - <class 'bool'>

In [ ]:
#Q5. Using a while loop, verify if number A is purely divisible by number B and find out how many times it can be divisible:

In [4]:
a = 50
b = 5
divisible_count = 0

while a%b==0 :
    a/=b
    divisible_count += 1
print(f"number a is divisible by b {divisible_count} times")

number a is divisible by b 2 times

In [ ]:
#Q6. Create a list containing 25 int type data. Using a for loop and an if-else condition, print if the element is divisible by 3 or not:

In [5]:
my_list = list(range(1, 26))

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
#Q7. Mutable and Immutable data types:

In [7]:
mutable_list = [1, 2, 3]
mutable_list[0] = 10
print(mutable_list)

[10, 2, 3]

In [19]:
immutable_tuple = (1, 2, 3)
# The following line will raise an error since tuples are immutable.
immutable_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment